@use "sass:list";





@each $nom, $couleurs in $defaut {
    @each $valeur, $couleur in $couleurs {
        .clr-#{$nom}-#{$valeur} {
            color : #{$couleur};
           
        }
            .bck-#{$nom}-#{$valeur} {
          
            background-color:  #{$couleur} ;
        }
    }
    }


    @mixin couleur-agencement($clr,$bck){
        color: $clr;
        @if(list.length($bck)==1){
            background-color: $bck;
        }   @else {
            background-image: linear-gradient(90deg, $bck);
        }   
    }




    @each $valeur, $clr in $agencement-couleur {
        .clr-agencement-#{$valeur} {
            @include couleur-agencement($clr...);
            color: hsl(10, 100%, 15%);
            background-image: linear-gradient(90deg, hsl(39.85deg 100% 53.96%), hsl(202.67deg 100% 79.57%));
        }
    } 